Flask==3.1.1
Flask-Cors==6.0.1
flasgger==0.9.7.1
PyJWT==2.10.1
email-validator==2.2.0
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
python-dotenv==1.1.1
requests==2.32.3
beautifulsoup4==4.12.3
lxml==6.0.2
gunicorn==23.0.0
